<html>
<head>
	{% load staticfiles %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static "beta/beta-theme.min.css" %}" />
	<link rel="stylesheet" href="{% static "beta/jquery.mobile.icons.min.css" %}" />
	<link rel="stylesheet" href="{% static "beta/jquery.mobile.structure-1.4.2.min.css" %}" />
	<script src="{% static "beta/jquery-1.11.0.min.js" %}"></script>
	<script src="{% static "beta/jquery.mobile-1.4.2.min.js" %}"></script>
</head>
<body>
	<div data-role="header">
		<h1>Login Page</h1>
	</div>

	<center><h1>VERIList Checklist System</h1></center>
	<div data-role="main" class="ui-content">
		<form method="post" action="{% url 'index' %}">
			{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
			{% csrf_token %}
			<label for="username">Username</label>
			<input type="text" name="username" id="username" placeholder="Example: wnorton">

			<label for="password">PIN</label>
			<input type="password" name="password" id="password" autocomplete="off" placeholder="Example: 1701">



			<input type="submit" data-inline="true" value="Login">
		</form>


	</div>


	<div data-role="footer" data-inline="true">
		<img src="{% static "beta/ISU_LOGO.png" %}" height="40" />
	</div>


</body>
</html>

